@import url(fontproximanova.css);

img{
  max-width: auto;
  height: auto;
  background-color: skyblue;
}
ul#menu_horizontal li {
  display : inline-block;
  margin-bottom: 30px;
  padding : 0 1em;
  background-color: skyblue;
  overflow: hidden;
  font-size: 100%;
  text-align: left;
}

ul#menu_horizontal{
  list-style-type: none;
  background-color: skyblue;
  padding: 20px 20px;
  text-align: left;
}

ul#menu_horizontal img {
  margin-bottom: : 40px;
  margin-right: 800px;
  height: 10%;
}
section{
  width: auto;
  height: auto;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  border: solid 1px black;
  padding: 1%;
  text-align: center;
  font-size: 100%;
  overflow: hidden;
  box-shadow: 15px 15px 25px #555;
  border-radius: 15px;
}


article#temp{

    width: 30%;
    height:50%;
    float: left;
    padding-bottom: 2%;
    background-color: darkorange;
    text-align: center;
    font-size: 100%;
    border-radius: 15px;
}

article#ph{

    width:30%;
    height:50%;
    padding-bottom: 2%;
    background-color: red;
    text-align: center;
    font-size: 100%;
    border-radius: 15px;
}

article#nv{

    width: 30%;
    height: 50%;
    padding-bottom: 2%;
    background-color: pink;
    text-align: center;
    font-size: 100%;
    border-radius: 15px;
}

#alig{
display: flex;
flex-direction: row;
justify-content: space-around;
background-color: aqua;
border-radius: 15px; 
}

#colone {
  order: <integer>; 
  flex-direction: column;
}

div#con1{

    width: 30%;
    height: 50%;
    padding-bottom: 2%;
    background-color: skyblue;
    text-align: center;
    font-size: 100%;
}

div#con2{

    width: 30%;
    height: 50%;
    padding: auto;
    background-color: orange;
    text-align: center;
    font-size: 100%;
}

div#con3{

    width: 30%;
    height: 50%;
    padding-bottom: 2%;
    background-color: greenyellow;
    text-align: center;
    font-size: 100%;
}
table
{
    border-collapse: collapse;
}
td, th
{
    border: 1px solid black;
}