body{
    background-color: deepskyblue;
}

#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: deepskyblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}
img{
  max-width: auto;
  height: auto;
  background-color: white;
}
ul#menu_horizontal li {
  display : inline-block;
  margin-bottom: 30px;
  padding : 0 1em;
  background-color: white;
  overflow: hidden;
  font-size: 100%;
  text-align: left;
}

ul#menu_horizontal{
  list-style-type: none;
  background-color: white;
  padding: 20px 20px;
  text-align: left;
}

ul#menu_horizontal img {
  margin-bottom: : 40px;
  margin-right: 800px;
  height: 10%;
}