
@import url(fontproximanova.css);

img{
  max-width: 100%;
  height: auto;
  background-color: skyblue;
}

menu_horizontal li {
  display : inline-block;
  padding : 0 1em;
  background-color: skyblue;
  overflow: hidden;
  font-size: 100%;
}

menu_horizontal{
  list-style-type: none;
  background-color: skyblue;
  padding: 30px 30px;
  text-align: right;
}

ul#menu_horizontal img {
  margin-bottom: : -5px;
  margin-right: 10000px;
  height: 100%;
}


section{
  width: 98%;
  height: auto;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  border: solid 1px black;
  padding: 1%;
  text-align: center;
  font-size: 100%;
  overflow: hidden;
  box-shadow: 15px 15px 25px #555;
  border-radius: 15px;
}


article#temp{

    width: 48%;
    height: 900px;
    float: left;
    padding-bottom: 2%;
    background-color: skyblue;
    text-align: left;
    font-size: 150%;
}

article#ph{

    width: 48%;
    height: 700px;
    margin: 1%;
    float: center;
    padding-bottom: 2%;
    background-color: black;
    text-align: left;
}

article#nv{

    width: 48%;
    margin: 1%;
    height: 900px;
    float: right;
    padding-bottom: 2%;
    background-color: pink;
}


div{
  margin-top: 20px;
    background-color: skyblue;
}
